
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Practice Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js" defer></script>
</head>
<style>
  .disabled {
    visibility: hidden;
    transition: color 1s ease;
  }
</style>
<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    <h1>{{ message }}</h1>
    <div v-for="movie in movies">
      <p>{{ movie }}</p>
    </div>
    <div>
      <input type="text" v-model="newMovie"/>
      <button v-on:click="createMovie">Create Movie</button>
      <p v-bind:class="{ disabled: !showInfo }"><img src="https://i.ibb.co/59C7PD9/zoolander.jpg"></p>
    </div>
  </div>
</body>
</html>
